---
const base = import.meta.env.BASE_URL;
---

<div id="docs-search"></div>

<link rel="stylesheet" href={`${base}pagefind/pagefind-ui.css`} />

<script type="module">
    import { PagefindUI } from "@pagefind/default-ui";
    new PagefindUI({ element: "#docs-search", showSubResults: true });
</script>