---
const { title, fullBleed = false } = Astro.props;
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title} | MyOshi Theme Lab - by CrimsonStrife</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/styles/bootstrap.css" />
    <link rel="stylesheet" href="/styles/lab.css" />
    <script is:inline src="/scripts/bootstrap.bundle.js"></script>
</head>
<body class={fullBleed ? 'lab-fullbleed' : 'lab'}>
<slot />
</body>
</html>